{{!-- <nav class="navbar">
  <a class="navbar-brand" href="/">Onion Scraper</a>
  </div>
</nav> --}}

<div id="main-title">
  <div id="title">Onion Scraper</div>
  <div id="subtitle">Top tier political reporting from TheOnion.com</div>
  <button id="scrape" type="button" class="btn btn-primary">Scrape</button>
</div>

<div id="article-feed">
  {{#each article}}
  <div class="article">
    <div class="article-title">
      {{this.title}}
    </div>
    <div class="article-summary">
      {{this.summary}}
    </div>
    <a href="{{this.link}}" target="_blank">
      <button type="button" class="btn btn-primary article-button article-link">View Article Source</button>
    </a>
    <button data-id="{{this._id}}" type="button" class="btn btn-primary article-button article-notes">Notes</button>

  </div>
  {{/each}}
</div>